h1 {
 text-align: center;
}

div {
    margin: auto auto;
    padding: 100px;
    height: 100px;
    width: 1000px;
    background-color: rgb(0, 0, 0);
}

h2 {
    color: white;
}

p {
    color: white;
}